<form action="#" method="POST" role="form">
    <div class="form-group">
        <legend>Form Register</legend>
        <div class="form-group">
            <label for="">Họ tên</label>
            <input type="text" name="form-control" placeholder="Fullname">
        </div>
        <div class="form-group">
            <label for="">Khóa học</label>
            <select name="">
                <option value="angular" class="form-control">Angular</option>
                <option value="react">React</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Đối tượng</label>
            <div class="radio">
                <label for="">
                    <input type="radio" name="" id="" defaultValue />
                    Học viên cũ
                </label>
            </div>
            <div class="radio">
                <label for="">
                    <input type="radio" name="" id="" defaultValue />
                    Học sinh Sinh viên
                </label>
            </div>
            <div class="radio">
                <label for="">
                    <input type="radio" name="" id="" defaultValue />
                    Người khuyết tật
                </label>
            </div>
        </div>
      </div>
</form>